<!DOCTYPE html>
<html>
  <head>
    <title> Fritter </title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head> 
    
    
   <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Fritter</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="allTweets">Freet Feed</a></li>
          <li><a href="profile">Profile</a></li>
        </ul>
      </div>
    </nav>
       
    <h1>Profile</h1>
    <div id="user">Hi {{user}} This is your personal page</div>
    <form action="logout" method="post">
    <button type="submit" class="btn btn-primary" id="logoutButton" >Logout</button>
    </form>

    <div class="tweetDiv">
    <!--   own tweets var theData = {tweets: [{tweetID: 1, author: Jo, tweet: hi}]-->
        {{#each tweetsList}}
            <div class="tweet">
                {{user}}
                <div class="tweetBody">{{content}}</div>
                    <button type="submit" class="btn btn-primary delete-button" id='{{_id}}'>X</button>
            </div>
        {{/each}}
    </div>
    
<!--    list of users we don't follow with follow ability -->
    <div class="tweeterDiv">
        {{#each tweeterList}}
            <div class="tweeterList">
                {{name}}

                <form method="post" action="follow">
                    <input type="hidden" name="tweetAuthorID" value={{_id}}/>
                    <input type="hidden" name="follow" value='true'/>
                    <button type="submit" class="btn btn-primary">Follow</button>
                </form>
            </div>

        {{/each}}
    </div>

    
   <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.runtime.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../javascripts/profile.js"></script>
    
   </body>
</html>